.label{
    display: block;
    margin-bottom: 8px;
    color: #212121;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.select{
    background-color: #fff;
    box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.08);
    border: 0.1px solid #000;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size:  1.125rem;
    color: #212121;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}