.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../../../public/graph.svg);
}

.box{
    border-radius: 8px;
    padding: 3em;
    background: var(--Color-5, #EBDFCC);
}

.h2{
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

.box_interno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.input{
    display: flex;
    padding: 5px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 5px;
    color: black;
    background: #FFF;   
}

.but{
    border-radius: 8px;
    background: var(--buttom-card, #1B2B83);
    display: flex;
    padding: 5px 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}